export AMAZON_ACCESS_KEY_ID="xxxxxxxxxxxxxxxxxxxx"
export AMAZON_SECRET_ACCESS_KEY="yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"

export AWS_CREDENTIAL_FILE=$E_HOME/_auth/aws

export EC2_PRIVATE_KEY=$E_HOME/_auth/ilya.pem
export KNIFE_HOME=$E_HOME/_chef
